.app-main {
    min-height: calc(100vh - $header-size);
    margin-top: $header-size;
    position: relative;
    color: $color-white;
    padding: 40px 10vw 40px;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .app-main::before {
    content: "";
    height: calc(100vh - $header-size);
    position: fixed;
    top: $header-size;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(180deg, #0072bc 0%, #92b4ec 100%);
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 50px;
    gap : 20px;

    label {
      color: white;
    }

    input , select{
      margin-bottom: 0;
    }


    .form-group {
      width: 100%;
    }
    .form-group {
      flex: 1;
    }
    .form-control {
      height: 45px;
      background: $color-light-grey;
      border: 2px solid $color-primary;
      border-radius: 10px;
      outline: 0;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .no-access{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

 