.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: $color-white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    max-width: 800px;
  }
  
  .card__title {
    font-weight: 600;
    align-self: center;
    font-size: 28px;
    color: $color-primary;
    margin-bottom: 20px;
  }
  
  .card__content {
    font-weight: 500;
    font-size: 18px;
  }
  
  .card__content-front {
    color: $color-dark-1;
  }
  
  .loading {
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 24px;
  }
  
  .card.rotated {
    cursor: pointer;
    transition: all 0.3s ease;
  }


  .card_external_data {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
    color: $color-dark-1;
  }

  .card__external_line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }



  .card__button{
    margin-top: 30px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    font-weight: bold;

    button{
      width: 100%;
    }
  }