.btn {
    border: 2px solid $color-primary;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 8px;
    color: $color-primary;
    background-color: $color-white;
    font-size: 16px;
    height: $form-element-size;
    transition: all 0.2s ease;
    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
    }
    &:hover {
        filter: brightness(1.2);
    }
    &:active,
    &:focus {
        outline: none;
        filter: brightness(1.2);
    }
}

.button-spacing {
    margin-left: 15px; // Adjust the right margin to set the space between buttons
  }
  
button {
    & + button {
      @extend .button-spacing;
    }
  }
