/* Colors */
$color-primary: #2185d5;
$color-dark-1: #303841;
$color-dark-2: #3a4750;
$color-light: #f3f3f3;
$color-white: #fff;
$color-danger: #ff0000bd;
$sidemenu-size: 300px;
$form-element-size: 45px;
